<!DOCTYPE html>
{{!-- <html lang="en" type="text/html> --}}
<html>
	<head>
        <meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>BURGERS!</title>
        <script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
		<link rel="icon" 
      type="image/png" 
      href="https://tse1.mm.bing.net/th?id=OIP.1Z8yF9ZU1pla7-El-p4dOgHaHs&pid=15.1&P=0&w=300&h=300">
      
	</head>
	<body>
		{{{ body }}}
	</body>
</html>